<section class="container">
    <div class="card">
        <img src="https://hermes.digitalinnovation.one/santander/dev-week/cover/live-1.jpeg" alt="" class="cover">
        <h2>Lançamento</h2>
        <h3>Santander Bootcamp</h3>
    </div>
    <div class="card">
        <img src="https://hermes.digitalinnovation.one/santander/dev-week/cover/fullstack-aula-1.png" alt="" class="cover">
        <h2>Aula 1</h2>
        <h3>Preparando seu ambiente de desenvolvimento</h3>
    </div>
    <div class="card">
        <img src="https://hermes.digitalinnovation.one/santander/dev-week/cover/live-2.png" alt="" class="cover">
        <h2>Mentoria</h2>
        <h3>Os desafios de construir o aplicativo nativo do Santander usando Kotlin</h3>
    </div>
    <div class="card">
        <img src="https://hermes.digitalinnovation.one/santander/dev-week/cover/fullstack-aula-2.png" alt="" class="cover">
        <h2>Aula 2</h2>
        <h3>Criação de uma API usando Spring Boot (Spring Web)</h3>
    </div>
    <div class="card">
        <img src="https://hermes.digitalinnovation.one/santander/dev-week/cover/live-3.png" alt="" class="cover">
        <h2>Mentoria</h2>
        <h3>Como o Java é utilizado para desenvolver soluções no Santander?</h3>
    </div>
    <div class="card">
        <img src="https://hermes.digitalinnovation.one/santander/dev-week/cover/fullstack-aula-3.png" alt="" class="cover">
        <h2>Aula 3</h2>
        <h3>Integrando a API com um banco de dados relacional (Spring Data JPA)</h3>
    </div>
    <div class="card">
        <img src="https://hermes.digitalinnovation.one/santander/dev-week/cover/live-4.png" alt="" class="cover">
        <h2>Mentoria</h2>
        <h3>Os desafios de escalar uma aplicação frontend usando Angular no Santander</h3>
    </div>
    <div class="card">
        <img src="https://hermes.digitalinnovation.one/santander/dev-week/cover/fullstack-aula-4.png" alt="" class="cover">
        <h2>Aula 4</h2>
        <h3>Criação de um front-end Angular e integração com a nossa API</h3>
    </div>
    <div class="card">
        <img src="https://hermes.digitalinnovation.one/santander/dev-week/cover/live-5.png" alt="" class="cover">
        <h2>Mentoria</h2>
        <h3>Como construir uma carreira de sucesso no Santander?</h3>
    </div>
    <div class="card">
        <img [src]="imagesPath" alt="" class="cover">
        <h2>Inscrição Gratuita</h2>
        <h3>Santander Bootcamp | Fullstack Developer</h3>
        <a target="_blank" href="https://digitalinnovation.one/sign-up?ref=NL9EADWVZW" class="button subscribe-button">
        Quero me inscrever no Santander Bootcamp
      </a>
    </div>
</section>
